<div>
<h1><%= @property.title %></h1>

<h4><%= @property.description %></h4>

<dl>
  <p><dt><%= Property.human_attribute_name(:rooms) %>:</dt>
  <dd><%= @property.rooms %></dd></p>

  <p><dt><%= Property.human_attribute_name(:bathrooms) %>:</dt>
  <dd><%= @property.bathrooms %></dd></p>

  <p><dt><%= Property.human_attribute_name(:pets) %>:</dt>
  <dd><%= @property.pets ? 'Sim' : 'Não' %></dd></p>

  <p><dt><%= Property.human_attribute_name(:parking_slot) %>:</dt>
  <dd><%= @property.parking_slot ? 'Sim' : 'Não' %></dd></p>

  <p><dt><%= Property.human_attribute_name(:daily_rate) %>:</dt>
  <dd><%= number_to_currency(@property.daily_rate) %></dd></p>

  <p><dt><%= PropertyType.model_name.human %>:</dt>
  <dd><%= @property.property_type.name %></dd></p>

  <p><dt><%= PropertyLocation.model_name.human %>:</dt>
  <dd><%= @property.property_location.name %></dd></p>

  <p><dt><%= PropertyOwner.model_name.human %>:</dt>
  <dd><%= @property.property_owner.email %></dd></p>
</dl>
</div>

<p><%= link_to('Editar Imóvel', edit_property_path(@property)) if property_owner_signed_in? %></p>
<p><%= link_to t('links.go_back'), root_path %></p>
