<h1>Edição de Tipos de Imóveis</h1>

<% if @property_type.errors.any? %>
  <ul>
    <% @property_type.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= form_with model: @property_type do |f| %>
    <p>
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </p>
    <p><%= f.submit 'Salvar' %></p>
  <% end %>
</div>

<div>
  <p><%= link_to 'Voltar', property_types_path %></p>
</div>
