<header>
  <h1>Flats</h1>
  <h3>Boas vindas ao sistema de locação de apartamentos</h3>
  <nav>
    <div>
      <p><%= link_to 'Tipos de Imóveis', property_types_path %></p>
      <p><%= link_to 'Regiões de Imóveis', property_locations_path %></p>
    </div>
  </nav>
</header>

<aside>
  <h2>Filtrar por tipo:</h2>
  <nav>
    <div>
      <ul>
        <% @property_types.each do |pt| %>
          <li><%= link_to pt.name, root_path(type: pt.name) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <h2>Filtrar por região:</h2>
  <nav>
    <div>
      <ul>
        <% @property_locations.each do |pl| %>
          <li><%= link_to pl.name, root_path(location: pl.name) %></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <p><%= link_to 'Limpar Filtros', root_path %></p>
</aside>

<section>
  <h2>Lista de Imóveis:</h2>
  <% if @properties.empty? %>
    <div><span>Nenhum imóvel disponível</span></div>
  <% end %>

  <% @properties.each do |property| %>
    <dl>
      <dt><%= link_to property.title, property_path(property) %></dt>
      <dd><%= property.description %></dd>
      <dd>Quartos: <%= property.rooms %></dd>
    </dl>
  <% end %>
</section>
