<!DOCTYPE html>
<html>
  <head>
    <title>Flats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% case %>
      <% when property_owner_signed_in? %>
        <p><%= link_to 'Cadastrar Imóvel', new_property_path %></p>
        <p><%= current_property_owner&.email %> (Logado como <%= t(PropertyOwner.model_name.human) %>)</p>
        <p><%= link_to 'Sair', destroy_property_owner_session_path, method: :delete %></p>
      <% when user_signed_in? %>
        <p><%= current_user&.email %> (Logado como <%= t(User.model_name.human) %>)</p>
        <p><%= link_to 'Sair', destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p><%= link_to 'Entrar como Proprietário', new_property_owner_session_path %></p>
        <p><%= link_to 'Entrar como Usuário', new_user_session_path %></p>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
